<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>HTML Form Query String Viewer</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>

  <div class="section hero" style="margin-top: 40px">
    <div class="container">
      <div class="row">
        <h1>Form Argument Viewer</h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
          <div class="eight columns" style="color: {{ color }};">
            <ul>
            {% for arg in args %}
            <li><b>{{ arg }}:</b> {{ args[arg] }}</li>
            {% endfor %}
            </ul>
        </div>

         <div class="four columns">
             <p>
          This page displays the key/value pairs that are submitted to the API. The keys are hard-coded into the HTML, the values are what the user submits in the form.
             </p>
        </div>
      </div>
      <div class="row">
        <a href="/" class="button button-primary">Try again</a>
      </div>
    </div>

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
